### 1.Load data files(train_u6lujuX_CVtuZ9i.csv and test_Y3wMUE5_7gLdaTN.csv)

In [1]:
import pandas as pd
import numpy as np
train_data = pd.read_csv("train_u6lujuX_CVtuZ9i.csv")
test_data = pd.read_csv("test_Y3wMUE5_7gLdaTN.csv")
test_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [2]:
train_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

### 2.Types of data columns

In [3]:
train_data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [4]:
test_data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

### DATA CLEANING AND PREPROCESSING

### 3.Find missing values

In [5]:
train_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
test_data.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

### 4.Impute missing values with mean (numerical variables)

In [7]:
train_data.fillna(train_data.mean(),inplace=True)
test_data.fillna(test_data.mean(),inplace=True)

### 5.Impute missing values with mode (categorical variables)

In [8]:
train_data.Gender.mode()

0    Male
dtype: object

In [9]:
train_data.Married.mode()

0    Yes
dtype: object

In [10]:
train_data.Dependents.mode()

0    0
dtype: object

In [11]:
train_data.Self_Employed.mode()

0    No
dtype: object

In [12]:
test_data.Gender.mode()

0    Male
dtype: object

In [13]:
test_data.Dependents.mode()

0    0
dtype: object

In [14]:
test_data.Self_Employed.mode()

0    No
dtype: object

In [15]:
train_data.Gender.fillna(train_data.Gender.mode()[0],inplace=True)
train_data.Married.fillna(train_data.Married.mode()[0],inplace=True)
train_data.Dependents.fillna(train_data.Dependents.mode()[0],inplace=True)
train_data.Self_Employed.fillna(train_data.Self_Employed.mode()[0],inplace=True)
test_data.Gender.fillna(test_data.Gender.mode()[0],inplace=True)
test_data.Dependents.fillna(test_data.Dependents.mode()[0],inplace=True)
test_data.Self_Employed.fillna(test_data.Self_Employed.mode()[0],inplace=True)

In [16]:
train_data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [17]:
test_data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

### PREDICTIVE MODELLING

### 6.Remove Loan_ID variable - Irrelevant

In [18]:
train_data = train_data.drop('Loan_ID', axis=1)
test_data = test_data.drop('Loan_ID', axis=1)

### 7.Create target variable

In [19]:
X=train_data.drop('Loan_Status',1)
y=train_data.Loan_Status

### 8.Build dummy variables for categorical variables

In [20]:
X=pd.get_dummies(X)
train_data=pd.get_dummies(train_data)
test_data=pd.get_dummies(test_data)

### 9.Split train data for cross validation

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_cv,y_train,y_cv=train_test_split(X,y,test_size=0.3)

### (a)LOGISTIC REGRESSION ALGORITHM

### 10.Fit model

In [22]:
from sklearn.linear_model import LogisticRegression
log_model=LogisticRegression()
log_model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### 11.Predict values for cv data

In [24]:
prediction = log_model.predict(x_cv)

### 12.Print classification report

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_cv,prediction))

              precision    recall  f1-score   support

           N       0.81      0.45      0.58        64
           Y       0.77      0.94      0.84       121

    accuracy                           0.77       185
   macro avg       0.79      0.70      0.71       185
weighted avg       0.78      0.77      0.75       185

### 13.Evaluate accuracy of model

In [30]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
f1score=accuracy_score(y_cv,prediction)
Matris=confusion_matrix(y_cv,prediction)
f1score

0.772972972972973

### (b)DECISION TREE ALGORITHM

### 14.Fit model

In [27]:
from sklearn import tree
dectree=tree.DecisionTreeClassifier(criterion='entropy')
dectree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

### 15.Predict values for cv data

In [29]:
treeEstimation = dectree.predict(x_cv)
treeEstimation

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'N'], dtype=object)

### 16.Evaluate accuracy of model

In [33]:
f1tree=accuracy_score(y_cv,treeEstimation)
MatrisTree=confusion_matrix(y_cv,treeEstimation)
f1tree

0.772972972972973

### (c)SUPPORT VECTOR MACHINE (SVM) ALGORITHM

### 17.Fit model

In [34]:
from sklearn import svm
Machine=svm.SVC()
Machine.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

### 18.Predict values for cv data

In [36]:
MachineEstimate = Machine.predict(x_cv)

### 19.Evaluate accuracy of model

In [38]:
f1machine = accuracy_score(y_cv, MachineEstimate)
f1machine

0.654054054054054

### (d)NAIVE BAYES ALGORITHM

### 20.Fit model

In [39]:
from sklearn.naive_bayes import GaussianNB
naive=GaussianNB()
naive.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

### 21.Predict values for cv data

In [40]:
naiveEstimate = naive.predict(x_cv)

### 22.Evaluate accuracy of model

In [42]:
f1naive = accuracy_score(y_cv, naiveEstimate)
f1naive

0.7891891891891892

In [23]:
#best model is Naive Bayes
#Naive Bayes - 0.789
#Logistic Regression 0.7729
#Decision Tree - 0.7729
#Support Vector Machine - 0.654